@import 'tailwindcss';

.scroll-shadow-fade-y {
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-shadow-fade-y::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.scroll-shadow-fade-y[data-top-scroll='true'] {
    -webkit-mask-image: linear-gradient(
        0deg,
        #000 calc(100% - var(--scroll-shadow-size)),
        transparent
    );
    mask-image: linear-gradient(
        0deg,
        #000 calc(100% - var(--scroll-shadow-size)),
        transparent
    );
}

.scroll-shadow-fade-y[data-bottom-scroll='true'] {
    -webkit-mask-image: linear-gradient(
        180deg,
        #000 calc(100% - var(--scroll-shadow-size)),
        transparent
    );
    mask-image: linear-gradient(
        180deg,
        #000 calc(100% - var(--scroll-shadow-size)),
        transparent
    );
}

.scroll-shadow-fade-y[data-top-bottom-scroll='true'] {
    -webkit-mask-image: linear-gradient(
        #000,
        #000,
        transparent 0,
        #000 var(--scroll-shadow-size),
        #000 calc(100% - var(--scroll-shadow-size)),
        transparent
    );
    mask-image: linear-gradient(
        #000,
        #000,
        transparent 0,
        #000 var(--scroll-shadow-size),
        #000 calc(100% - var(--scroll-shadow-size)),
        transparent
    );
}
